
<div class="container">
    <hr/>
    <div class="row">
      <div class="col">
        <div> 
          {{ indice + 1 }}:  {{ persona.nombre }} {{ persona.apellido }}
        </div>
        
      </div>
    </div>
  </div>