<div class="container">
  <div class="col">
    <h3>{{ titulo }}</h3>
  </div>
  <hr />
    <app-formulario></app-formulario>
  <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona]="personaElemento"
    [indice]="i"
  >
  </app-persona>
</div>
