<form class="form-row md-2">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only"></label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        #nombreInput
      />
    </div>
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only"></label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        #apellidoInput
      />
    </div>
    <br />
    <div class="col">
      <button type="submit" class="btn-primary" (click)="agregarPersona()">
        Agregar
      </button>
    </div>
  </form>